@import-normalize;
@import 'recipeList.css';
@import 'buttons.css';
/*@import 'ingredientList.css';*/
@import 'recipe.css';
@import 'landing.css'
@import 'createNew.css'




/*
*, *::before, *::after{
  font-family: Roboto, Helvetica, sans-serif;
}

html{
  font-size: 20px;
}

body{
  padding: 0;
  margin: 0;
}


*/

* {
  box-sizing: border-box;
}
.mr-1{

  margin-right: 5px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
/*
nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
*/
h1,h6{
  color: #02182b;
}
header {
  padding: 12% 0;
}
/*
section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}
*/


.landing-section,.new-account-form{
  background-color: #68c5db;
  height: 450px;
  padding-top: 40px;
}
.create-new-link{
  text-decoration: none;
  color: black;
  
}

