.bttn{
    font-size: 1rem;
    background: none;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    font-family: Roboto;
    border: solid 2px black;
    border-radius: 5px;
}

.bttn-new{
    
    color: black;
}

.bttn-edit{
    font-size: inherit;
    color: blue;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 2px blue;
    background: none;
}

.bttn-delete{
    font-size: inherit;
    font-weight: bold;
    color: red;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 2px red;
    background: none;
}

.bttn-sign-in, .bttn-new-account,.bttn-new{

    background-color: #0197f6;
    
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 4px 2px;
    border-radius: 8px;
}